.MainContainer {
    text-align: center;
    background-color: #282c34;
}

.MainBackground {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.MainTitle {
    color: white;
}

.MainDescription{
    color: white;
    width: 70%;
    margin-top: 0px;
    font-size: 1.3rem;
    font-family: "Gill Sans", sans-serif;
}

.MainSelection{
    margin: 20px;
    width: 80%;
}

.MainInput{
    width: 60%;
    margin: 15px;
    margin-left: 8%;
}

.MainTextfield{
    width: 90%;
}

.MainButton{
    width: 10%;
}

.MainResetButton{
    margin-top: 20px;
}

.MainResults{
    margin-top: 80px;
}

.MainMoreResults{
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}